
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.authorId;
    }

    match /products/{productId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == '農家';
    }

    match /chats/{chatId} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.participantUids;
    }

    match /chats/{chatId}/messages/{messageId} {
       allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participantUids;
    }

    match /users/{userId}/cart/{itemId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      // Allow user to create order
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      // Allow user to read their own orders, but not list all orders
      allow list: if request.auth != null && request.query.where.value == request.auth.uid;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      // Admin/system can update
      allow update: if false; 
      allow delete: if false;
    }
  }
}
